.dropshadow {
  filter: drop-shadow(3px 3px 3px #aaaaaa);
}

.dropshadow-sm {
  filter: drop-shadow(3px 3px 3px #cecece);
}

.bi-cart3 {
  font-size: 1.4rem;
}

.fs-3 {
  font-size: 1.4rem;
}

#banner {
  padding: 20px;
  background: linear-gradient(140deg, #e8ac5e94, #8f5ef87e);
}

.page-height {
  padding: 25vh 0 25vh 0;
}

.button {
  padding: 10px;
  background: #9e74fa;
  border-radius: 80px;
  color: white;
  text-shadow: 1px 1px 1px #dddddd;
  border: none;
}

.productLink {
  cursor: pointer;
}

.productCard {
  border-radius: 50px;
  max-width: 700px;
  width: 90vw;
}

.cardImg {
  width: 10vw;
}

.productName {
  overflow: visible;
}

.pucepink {
  background-color: pink;
}

.pucechocolate {
  background-color: chocolate;
}

.pucetan {
  background-color: tan;
}

.pucebeige {
  background-color: beige;
}

.pucebrown {
  background-color: #a54d2a;
}

.pucedarkbrown {
  background-color: #753517;
}

.pucepalebrown {
  background-color: #a16933;
}

.pucewhite {
  background-color: white;
  border: 0.5px black solid;
}

.puceblue {
  background-color: blue;
}

.colorPuce {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.productName {
  font-size: 1.5rem;
}

#removeBtn {
  color: black;
}

.removeBtn {
  width: 45px;
}

@media screen and (max-width: 800px) {
  .colorPuce {
    height: 20px;
    width: 20px;
  }

  .productName {
    font-size: 1.1rem;
  }

  .removeBtn {
    padding: 0px;
    height: 30px;
    width: 30px;
    background: #9e74fa;
    border-radius: 50%;
    color: white;
    text-shadow: 1px 1px 1px #dddddd;
    border: none;
  }

  #removeBtn {
    font-size: 0.8rem;
  }
}
/* COLOR PICKER */
.white {
  border: 2px solid #bfbfbf;
}

* {
  box-sizing: border-box;
}

input[type=radio] {
  display: none;
}
input[type=radio]:checked + label span {
  transform: scale(1.25);
}
input[type=radio]:checked + label .chocolate {
  border: 2px solid #62310e;
}
input[type=radio]:checked + label .tan {
  border: 2px solid #a0763f;
}
input[type=radio]:checked + label .beige {
  border: 2px solid #d9d979;
}
input[type=radio]:checked + label .brown {
  border: 2px solid #4d2110;
}
input[type=radio]:checked + label .darkbrown {
  border: 2px solid black;
}
input[type=radio]:checked + label .palebrown {
  border: 2px solid #402a14;
}
input[type=radio]:checked + label .blue {
  border: 2px solid navy;
}
input[type=radio]:checked + label .white {
  border: 2px solid #bfbfbf;
}
input[type=radio]:checked + label .pink {
  border: 2px solid #ff4162;
}
input[type=radio]:checked + label .black {
  border: 2px solid black;
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}
label span.chocolate {
  background: chocolate;
}
label span.tan {
  background: tan;
}
label span.beige {
  background: beige;
}
label span.brown {
  background: #b64f26;
}
label span.darkbrown {
  background: #5a270f;
}
label span.palebrown {
  background: #a16933;
}
label span.blue {
  background: blue;
}
label span.white {
  background: white;
}
label span.pink {
  background: pink;
}
label span.black {
  background: black;
}

/*# sourceMappingURL=style.css.map */
