.dropshadow {
  filter: drop-shadow(3px 3px 3px rgb(170, 170, 170));
}

.dropshadow-sm {
  filter: drop-shadow(3px 3px 3px rgb(206, 206, 206));
}

.bi-cart3 {
  font-size: 1.4rem;
}

.fs-3 {
  font-size: 1.4rem;
}

#banner {
  padding: 20px;
  background: linear-gradient(140deg, #e8ac5e94, #8f5ef87e);
}

.page-height {
  padding: 20vh 0 25vh 0;
}

.button {
  padding: 10px;
  background: #9e74fa;
  border-radius: 80px;
  color: white;
  text-shadow: 1px 1px 1px rgb(221, 221, 221);
  border: none;
}

.productLink {
  cursor: pointer;
}

.productCard {
  border-radius: 50px;
  max-width: 700px;
  width: 90vw;
}

.cardImg {
  width: 10vw;
}

.productName {
  overflow: visible;
}

.pucepink {
  background-color: pink;
}

.pucechocolate {
  background-color: chocolate;
}

.pucetan {
  background-color: tan;
}

.pucebeige {
  background-color: beige;
}

.pucebrown {
  background-color: rgb(165, 77, 42);
}

.pucedarkbrown {
  background-color: rgb(117, 53, 23);
}

.pucepalebrown {
  background-color: rgb(161, 105, 51);
}

.pucewhite {
  background-color: white;
  border: 0.5px black solid;
}

.puceblue {
  background-color: blue;
}

.puceblack {
  background-color: black;
}

.colorPuce {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.productName {
  font-size: 1.5rem;
}

#removeBtn {
  color: black;
}
.removeBtn {
  width: 45px;
}

@media screen and (max-width: 800px) {
  .colorPuce {
  height: 20px;
  width: 20px;
  }
  .productName {
    font-size: 1.1rem;
  }
  .removeBtn {
    padding: 0px;
    height: 30px;
    width: 30px;
    background: #9e74fa;
    border-radius: 50%;
    color: white;
    text-shadow: 1px 1px 1px rgb(221, 221, 221);
    border: none;
  }
  #removeBtn {
    font-size: .8rem;
  }
}

/* COLOR PICKER */

$colors: (
  chocolate: chocolate,
  tan: tan,
  beige: beige,
  brown: rgb(182, 79, 38),
  darkbrown: rgb(90, 39, 15),
  palebrown: rgb(161, 105, 51),
  blue: blue,
  white: white,
  pink: pink,
  black: black,
);

.white {
  border: 2px solid darken(white, 25%);
}

* {
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
  &:checked + label {
    span { transform: scale(1.25); }
    @each $name, $value in $colors {
      .#{$name} {
        border: 2px solid darken($value, 25%);
      }
    } // !@each
  } // !&:checked + label
}

label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
  &:hover {
    span { 
      transform: scale(1.25); 
    }
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
    @each $name, $value in $colors {
      &.#{$name} {
        background: $value;
      }
    }
  }
}